.registration-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .manage-registration-container {
    background: #1e1e1e;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    text-align: center;
  }

  .manage-registration-title{
    display: flex;
    justify-content: center;
  }
  

  /* .event-cardr{
    width: 240px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  } */

  .manageRegistration-close-btn {
    position: relative;
    color: #fff;
    bottom: 5px;
    left: 245px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .registration-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .registration-table th,
  .registration-table td {
    padding: 12px 16px;
    border: 1px solid #7c4dff;
    text-align: left;
  }
  
  .registration-table thead {
    background-color: #1e1e1e;
    font-size: 18px;
    font-weight: bold;
  }
  
  .registration-table tbody tr:hover {
    background-color: #1e1e1e;
  }
  
  .status {
    font-weight: bold;
  }
  
  .status.pending {
    color: orange;
  }
  
  .action-buttons {
    display: flex;
    gap: 10px;
    border: none;
    outline: none;
  }
  
  .approve-btn,
  .reject-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
  }
  
  .approve-btn {
    background-color: green;
    color: white;
  }
  
  .reject-btn {
    background-color: red;
    color: white;
  }
  
  .approve-btn:hover {
    background-color: darkgreen;
  }
  
  .reject-btn:hover {
    background-color: darkred;
  }
  
  @media (max-width: 540px) {
  
    .registration-table thead, tr, tbody {
      font-size: 12px;
    }

    

    .registration-table tbody tr{
      font-size: 12px;
    }
  }

  @media (max-width: 850px){

    .manage-registration-container {
      overflow-x: auto; /* Enable horizontal scrolling */
      width: 90%;
    }
  
    .registration-table {
      min-width: 600px; /* Ensure the table does not shrink */
    }
  }