.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    backdrop-filter: blur(5px); /* Blur effect */
    z-index: 999; /* Make sure it's on top of the content */
  }
  
  .event-status2{
    padding-left: 10px ;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0 ;
    height: 30px;
    border-radius: 20px;
  }

  /* Event details modal */
  .event-details-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the modal */
    width: 45%;
    height: 80%;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000; /* Ensure modal is on top of the backdrop */
    scrollbar-width: none;
  }

  

  .event-details-modal .relative img{
    max-height: 350px;
    width: 100%;
  }
  
  /* Close button style */
  .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .close-button:hover {
    background-color: #f0f0f0;
  }

  .register-button{
    width: 100%;
    background-color: #7c4dff !important;
  }

  .card-detail-title-container{
    display: flex;
    justify-content: space-between;
  }

  ul{
    list-style-type: decimal;
    margin-left: 19px;
  }


  @media (max-width: 940px) {
    .event-details-modal {
        width: 60%;
        height: 70%;
    }

    .event-details-modal .relative img{
        height: 90%;
    }

    .card-detail-title-container{
        h3{
            font-size: 24px;
        }

        span{
            margin-top: 0;
        }
    }


    .Organizer-text-lg, .Requirement-text-lg, .Description-text-lg{
        font-size: 20px;
    }

    .Requirement-text-lg ul li{
        font-size: 15px;
    }

    .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .cross-icon{
    height: 17px;
    width: 17px;
    position: relative;
    top: -8px;
    right: 3px;
  }

  }
  
  @media (max-width: 540px) {
    .event-details-modal {
        width: 90%;
        height: 67%;
        font-size: 13px !important;
    }

    .card-detail-title-container{
        h3{
            font-size: 19px;
        }

        span{
            margin-top: -4px;
        }
    }

  .event-status2{
    padding: 7px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    font-size: 12px;
  }

    .detail-item{
     span{
      font-size: 15px;
    }

    .detail-icon{
      height: 18px;
      width: 18px;
      margin-top: 1px;
    }
  }

  .sub-text{
    font-size: 15px;
  }

  .close-button {
    position: absolute;
    top: 8px;
    right: 16px;
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .cross-icon{
    height: 17px;
    width: 17px;
    position: relative;
    top: -8px;
    right: 3px;
  }

  }
