.signup-container{
  background-color: #1e1e1e !important;
  color: #fff;
}

.signup_btn{
  background-color:#7c4dff !important;
}

.options{
  border-radius: 6px !important;
  width: 100%;
  text-align: left;
  padding-left: 37px !important;
  color: #ffffff4c;
}

.user-icon{
  color:#7c4dff;  
}

@media (max-width: 540px) {
  .signup-container{
      width: 90% !important;
  }
}